<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Synonyms</h2>
      <p>A synonym is a word or phrase that means exactly or nearly the same as another word or phrase in the same language.</p>
      <p><a class="btn btn-default" [routerLink]="['/synonyms']" role="button">Search synonyms &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Antonyms</h2>
      <p>The term antonym (and the related antonymy) is commonly taken to be synonymous with opposite, but antonym also has other more restricted meanings.</p>
      <p><a class="btn btn-default"  [routerLink]="['/antonyms']" role="button">Search antonyms &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Rhymes</h2>
      <p>A rhyme is a repetition of similar sounds (or the same sound) in two or more words, most often in the final syllables of lines in poems and songs</p>
      <p><a class="btn btn-default"  [routerLink]="['/rhymes']" role="button">Search rhymes &raquo;</a></p>
    </div>
  </div>

  <hr>
</div> <!-- /container -->
