<div class="container">
  <div class="dictionary">
    <div class="block-input">
      <h3>Rhymes</h3>
      <form action="">
        <h4>Word: <input id="dictionaryForm" type="text" name="word" [(ngModel)]="word"
                          (keyup)="searchRhymes(word)"
                          required/>
        </h4>
      </form>
    </div>
    <div class="block-description">
      <div class="block-type">
        <h4 *ngIf="rhymes">Rhymes: </h4>
        <div *ngFor="let rhyme of rhymes">
          <span *ngIf="rhyme" class="blue-type"> {{rhyme}} </span>
        </div>
      </div>
    </div>
  </div>
</div>
