<div class="container">
  <div class="dictionary">
    <div class="block-input">
      <form action="">
        <h3>Words: <input id="dictionaryForm" type="text" name="wordDictionary" [(ngModel)]="wordDictionary"
                          required/>
          <button (click)="search(wordDictionary)">Search word!</button>
        </h3>
      </form>
    </div>
    <div class="block-description">
      <h2>Description</h2>
      <h4 *ngIf="pronunciation"><b>Pronunciation</b>: [ {{pronunciation.all}} ]</h4>
      <hr>
      <h4><b>Results:</b></h4>
      <div *ngFor="let item of results">
        <p *ngIf="item.definition"><b>Definition:</b> {{item.definition}} </p>
        <p *ngIf="item.partOfSpeec"><b>Part Of Speec:</b> {{item.partOfSpeec}} </p>
        <p *ngIf="item.usageOf"><b>Usage Of:</b> {{item.usageOf}} </p>
        <p *ngIf="item.typeOf"><b>Type Of:</b> {{item.typeOf}} </p>
        <p *ngIf="item.hasTypes"><b>Has Types:</b> {{item.hasTypes}} </p>
        <p *ngIf="item.hasInstances"><b>Has Instances:</b> {{item.hasInstances}} </p>
        <p *ngIf="item.hasSubstances"><b>Has Substances:</b> {{item.hasSubstances}} </p>
        <p *ngIf="item.examples"><b>Examples:</b> {{item.examples}} </p>
        <hr>
      </div>
      <h4 *ngIf="frequency"><b>Frequency: </b> {{frequency}}</h4>
    </div>
  </div>
</div>
