<div class="container">
  <div class="dictionary">
    <div class="block-input">
      <h3>Antonyms</h3>
      <form action="">
        <h4>Word: <input id="dictionaryForm" type="text" name="word" [(ngModel)]="word"
                          (keyup)="searchAntonyms(word)"
                          required/>
          </h4>
      </form>
    </div>
    <div class="block-description">
      <div class="block-type">
        <h4 *ngIf="antonyms">Antonyms: </h4>
        <div *ngFor="let antonym of antonyms">
          <span *ngIf="antonym" class="blue-type">{{antonym}} </span>
        </div>
      </div>

    </div>
  </div>
</div>
