<div class="container">
  <div class="dictionary">
    <div class="block-input">
      <h3>Synonyms</h3>
      <form action="">
        <h4>Word: <input id="dictionaryForm" type="text" name="word" [(ngModel)]="word"
                          (keyup)="searchSynonyms(word)"
                          required/>
        </h4>
      </form>
    </div>
    <div class="block-description">
      <div class="block-type">
        <h4 *ngIf="synonyms">Synonyms: </h4>
        <div *ngFor="let synonym of synonyms">
          <span *ngIf="synonym" class="blue-type"> {{synonym}} </span>
        </div>
      </div>
    </div>
  </div>
</div>
